{% extends "layout.html" %}

{% block content %}

<div class="row justify-content-center">
	<div class="col-12">
		<div class="subtitle_frame">
			<h2>Unlock the world of Morse Code, one dot and dash at a time.</h2>
		</div>
		<div class="cover_image">
			<img src="{{url_for('static', filename='images/morseBack.png')}}" class="img-fluid cover-img" />
		</div>
		<a href="/quiz_one_multiple_choice_question">
			<button type="button" class="homeButton btn btn-lg btn-orange-outline">Are you ready? Let's get
				started</button>
		</a>
		<!-- <a href="/quiz_one_spelling_question">
			<button type="button" class="homeButton btn btn-secondary btn-lg">Are you ready? Let's get started</button>
		</a> -->
	</div>

	{% endblock %}