{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'Quiz/multiple_choice.js') }}"></script>

<script>
	let quiz_question = {{ quiz_question | tojson}};
</script>

<div class="container">
	<div class="row tip-margin">
		<div class="col-11"> <b>Identify the Morse Code:</b><br> Choose the Correct Visual from Given Words or
			Characters</div>
		<div class="col-1">{{quiz_question.question_index + 1}}/10</div>
	</div>


	<div class="row justify-content-center deletemargin tip-margin">
		<div class="col text-layout">
			<h2>{{quiz_question.question}}</h2>
		</div>
		<div class="col addoneline">
			<div id="multiple_choice_answers" class="row text-layout">
			</div>
		</div>
		<div id="choices_answer_container">
		</div>
	</div>
	<div class="row justify-content-between deletemargin">
		<div class="col-3">
			<div id="previous_button"></div>
		</div>
		<div class="col-3">
			<div id="next_button"></div>
		</div>
	</div>
</div>
{% endblock %}