{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>
<div class="row justify-content-center deletemargin">
    <div class="morse_code_tree">
        MORSE CODE TREE
    </div>
    <svg class="dashtreesvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
        viewBox="0 0 836 362" xml:space="preserve">
        <circle id="nodeE" r="18" cx="209.1975" cy="96.7551" />
        <circle id="nodeT" r="18" cx="626.7500" cy="96.8076" />
        <path id="path-start-nodeE" class="dot" d="M384.1785583,48.2296791l-157.529892,43.7463417" />
        <path id="path-start-nodeT" class="dash" d="M451.8214417,48.2296791l157.5299377,43.7463417" />
        <circle id="nodeI" r="18" cx="104.8225" cy="156.279" />
        <circle id="nodeA" r="18" cx="313.5725" cy="156.279" />
        <circle id="nodeN" r="18" cx="522.3225" cy="156.279" />
        <circle id="nodeM" r="18" cx="731.0725" cy="156.279" />
        <circle id="nodeS" r="18" cx="70.03075" cy="224.2428" />
        <circle id="nodeU" r="18" cx="139.614" cy="224.2428" />
        <circle id="nodeR" r="18" cx="278.7808" cy="224.2428" />
        <circle id="nodeW" r="18" cx="348.364" cy="224.2428" />
        <circle id="nodeD" r="18" cx="487.5308" cy="224.2428" />
        <circle id="nodeK" r="18" cx="557.114" cy="224.2428" />
        <circle id="nodeG" r="18" cx="696.2801" cy="224.2428" />
        <circle id="nodeO" r="18" cx="765.864" cy="224.2428" />
        <circle id="nodeQ" r="18" cx="710.1975" cy="284.211" />
        <circle id="nodeZ" r="18" cx="668.4475" cy="284.211" />
        <circle id="nodeY" r="18" cx="584.9475" cy="284.211" />
        <circle id="nodeC" r="18" cx="543.1975" cy="284.211" />
        <circle id="nodeX" r="18" cx="501.4475" cy="284.211" />
        <circle id="nodeB" r="18" cx="459.6975" cy="284.211" />
        <circle id="nodeJ" r="18" cx="376.1975" cy="284.211" />
        <circle id="nodeP" r="18" cx="334.4475" cy="284.211" />
        <circle id="nodeL" r="18" cx="250.9475" cy="284.211" />
        <circle id="nodeF" r="18" cx="125.6975" cy="284.211" />
        <circle id="nodeV" r="18" cx="83.9475" cy="284.211" />
        <circle id="nodeH" r="18" cx="42.1975" cy="284.211" />
        <path id="path-nodeE-nodeI" class="dot" d="M193.5657043,105.7522507l-73.0063782,41.6347122" />
        <path id="path-nodeE-nodeA" class="dash" d="M224.9343567,105.7522507l73.0063171,41.6347122" />
        <path id="path-nodeT-nodeN" class="dot" d="M611.0656738,105.7522507l-73.0063477,41.6347122" />
        <path id="path-nodeT-nodeM" class="dash" d="M642.4343262,105.7522507l73.0063477,41.6347122" />
        <path id="path-nodeM-nodeO" class="dash" d="M739.3528442,172.4042816l18.3359375,35.8184357" />
        <path id="path-nodeM-nodeG" class="dot" d="M722.8971558,172.4042816l-18.3359985,35.8184357" />
        <path id="path-nodeN-nodeK" class="dash" d="M530.6028442,172.4042816l18.3359375,35.8184357" />
        <path id="path-nodeN-nodeD" class="dot" d="M514.1471558,172.4042816l-18.335968,35.8184357" />
        <path id="path-nodeA-nodeW" class="dash" d="M321.8528442,172.4042816l18.335968,35.8184357" />
        <path id="path-nodeA-nodeR" class="dot" d="M305.3971558,172.4042816l-18.335968,35.8184357" />
        <path id="path-nodeI-nodeU" class="dash" d="M113.1028519,172.4042816l18.3359756,35.8184357" />
        <path id="path-nodeI-nodeS" class="dot" d="M96.6471481,172.4042816l-18.3359604,35.8184357" />
        <path id="path-nodeS-nodeH" class="dot" d="M62.4814339,240.674057l-12.629528,27.2108612" />
        <path id="path-nodeS-nodeV" class="dash" d="M74.1651917,241.8845062l5.7529526,24.7899933" />
        <path id="path-nodeU-nodeF" class="dot" d="M135.5848236,241.8845062l-5.7529449,24.7899933" />
        <path id="path-nodeR-nodeL" class="dot" d="M271.2314453,240.674057l-12.6295166,27.2108612" />
        <path id="path-nodeW-nodeP" class="dot" d="M344.3348083,241.8845062l-5.7529602,24.7899933" />
        <path id="path-nodeW-nodeJ" class="dash" d="M356.0185852,240.674057l12.6295166,27.2108612" />
        <path id="path-nodeD-nodeB" class="dot" d="M479.9814148,240.674057l-12.6295166,27.2108612" />
        <path id="path-nodeD-nodeX" class="dash" d="M491.6651917,241.8845062l5.7529297,24.7899628" />
        <path id="path-nodeK-nodeC" class="dot" d="M553.0847778,241.8845062l-5.7529297,24.7899628" />
        <path id="path-nodeK-nodeY" class="dash" d="M564.7685547,240.674057l12.6295166,27.2108612" />
        <path id="path-nodeG-nodeZ" class="dot" d="M688.7314453,240.674057l-12.6295166,27.2108612" />
        <path id="path-nodeG-nodeQ" class="dash" d="M700.4151611,241.8845062l5.7529907,24.7899933" />
        <switch><text x="209" y="106" id="trsvg43">
                <tspan id="trsvg1">E</tspan>
            </text></switch>
        <switch><text x="626" y="106" id="trsvg44">
                <tspan id="trsvg2">T</tspan>
            </text></switch>
        <switch><text x="105" y="166" id="trsvg45">
                <tspan id="trsvg3">I</tspan>
            </text></switch>
        <switch><text x="314" y="166" id="trsvg46">
                <tspan id="trsvg4">A</tspan>
            </text></switch>
        <switch><text x="522" y="166" id="trsvg47">
                <tspan id="trsvg5">N</tspan>
            </text></switch>
        <switch><text x="731" y="166" id="trsvg48">
                <tspan id="trsvg6">M</tspan>
            </text></switch>
        <switch><text x="70" y="234" id="trsvg49">
                <tspan id="trsvg7">S</tspan>
            </text></switch>
        <switch><text x="140" y="234" id="trsvg50">
                <tspan id="trsvg8">U</tspan>
            </text></switch>
        <switch><text x="279" y="234" id="trsvg51">
                <tspan id="trsvg9">R</tspan>
            </text></switch>
        <switch><text x="349" y="234" id="trsvg52">
                <tspan id="trsvg10">W</tspan>
            </text></switch>
        <switch><text x="488" y="234" id="trsvg53">
                <tspan id="trsvg11">D</tspan>
            </text></switch>
        <switch><text x="558" y="234" id="trsvg54">
                <tspan id="trsvg12">K</tspan>
            </text></switch>
        <switch><text x="696" y="234" id="trsvg55">
                <tspan id="trsvg13">G</tspan>
            </text></switch>
        <switch><text x="766" y="234" id="trsvg56">
                <tspan id="trsvg14">O</tspan>
            </text></switch>
        <switch><text x="42" y="294" id="trsvg57">
                <tspan id="trsvg15">H</tspan>
            </text></switch>
        <switch><text x="84" y="294" id="trsvg58">
                <tspan id="trsvg16">V</tspan>
            </text></switch>
        <switch><text x="126" y="294" id="trsvg59">
                <tspan id="trsvg17">F</tspan>
            </text></switch>
        <switch><text x="252" y="294" id="trsvg60">
                <tspan id="trsvg18">L</tspan>
            </text></switch>
        <switch><text x="335" y="294" id="trsvg61">
                <tspan id="trsvg19">P</tspan>
            </text></switch>
        <switch><text x="376" y="294" id="trsvg62">
                <tspan id="trsvg20">J</tspan>
            </text></switch>
        <switch><text x="461" y="294" id="trsvg63">
                <tspan id="trsvg21">B</tspan>
            </text></switch>
        <switch><text x="501" y="294" id="trsvg64">
                <tspan id="trsvg22">X</tspan>
            </text></switch>
        <switch><text x="543" y="294" id="trsvg65">
                <tspan id="trsvg23">C</tspan>
            </text></switch>
        <switch><text x="585" y="294" id="trsvg66">
                <tspan id="trsvg24">Y</tspan>
            </text></switch>
        <switch><text x="669" y="294" id="trsvg67">
                <tspan id="trsvg25">Z</tspan>
            </text></switch>
        <switch><text x="710" y="292" id="trsvg68">
                <tspan id="trsvg26">Q</tspan>
            </text></switch>
        <g>
            <circle id="start" r="37" cx="418" cy="39" class="big" />
            <switch>
                <text x="417" y="48" class="big" id="trsvg82">
                    <tspan id="trsvg40">start</tspan>
                </text>
            </switch>
        </g>
        <g>
            <g>
                <line class="dot big" style="stroke-dasharray: 3.5, 8.5" x1="102.2679901" y1="50.8910065"
                    x2="249.2680054" y2="50.8910065" />
                <path class="arrowhead" d="M120.2640381,50.9020538l12-12l-42,12l42,12L120.2640381,50.9020538z" />
            </g>
            <switch><text x="177" y="35" class="big" id="trsvg83-fr" systemLanguage="fr">
                    <tspan id="trsvg41-fr">Point</tspan>
                </text><text x="177" y="35" class="big" id="trsvg83">
                    <tspan id="trsvg41">Dot</tspan>
                </text></switch>
        </g>
        <g>
            <g>
                <line class="dash big" style="stroke-dasharray: 8.55, 9.55" x1="592.7290039" y1="50.8910065"
                    x2="727.7290039" y2="50.8910065" />
                <path class="arrowhead" d="M715.7359619,50.9020538l-12,12l42-12l-42-12L715.7359619,50.9020538z" />
            </g>
            <switch><text x="657" y="35" class="big" id="trsvg84-fr" systemLanguage="fr">
                    <tspan id="trsvg42-fr">Tiret</tspan>
                </text><text x="657" y="35" class="big" id="trsvg84">
                    <tspan id="trsvg42">Dash</tspan>
                </text></switch>
        </g>
    </svg>
    <div>
        <a href="{{ url_for('menuchar') }}">
            <button class="buttonlayout btn btn-outline-secondary">Back to Menu</button>
        </a>
    </div>
</div>
{% endblock %}