{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'finish.js') }}"></script>

<script>
	let recordTime = {{ learning_time | tojson}};
    let learningWords = {{ learning_words | tojson }};
    let totalTime = {{ totaltime | tojson}};
</script>
<div class="finished">
    <div class="char-borad-title finishedtext">You Finished the Learning Part!</div>
    <div class="container">
        <div id="timespend" class="timespend">
        </div>
        <div class="row justify-content-center addmargin deletemargin">
            <div class="col text-layout">
                <a href="{{ url_for('word_learning', index = 0) }}">
                    <button class="spbuttonlayout btn btn-outline-secondary">LEARNING AGAIN</button>
                </a>
            </div>
            <div class="col text-layout">
                <a href="{{ url_for('quiz_landing') }}">
                    <button class="spbuttonlayout btn btn-outline-secondary">TEST MYSELF</button>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}