{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>
<div class="morsemenu">
    <div class="morsemenu">
        <div class="char-borad-title">
            Welcome to Learn Morse Code
        </div>
        <a class="momory-tree-link" href="{{url_for('dashtree') }}">
            click here to help memorize
        </a>
        <div class="introtolearntext">
            We will teach in <strong> two </strong>steps. 
        </div>
        <div class="introtolearntext">
            Level 1: learn the Morse code for <strong>eight letters</strong>
        </div>
        <div class="introtolearntext">
            Level 2: learn the Morse code for <strong>five words</strong>
        </div>
    </div>
    <div class="words-to-learn">
        <div class="words-menu-title">
            LEVEL 1: Eight Letters to Teach
        </div>
        <div class="container">
            <div class="row justify-content-md-center onerowchar">
                {% for index, letter in letters.items() %}
                <div class="col-md-auto wordbutton">
                    <a class="buttontext" href="{{ url_for('word_learning',index=index)}}">{{ letter }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="words-menu-title">
            LEVEL 2: Five Words to Teach
        </div>
        <div class="container">
            <div class="row justify-content-md-center onerowchar">
                {% for index, word in words.items() %}
                <div class="col-md-auto wordbutton">
                    <a class="buttontext" href="{{ url_for('word_learning',index=index)}}">{{ word }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row justify-content-between deletemargin">
        <div class="col-3">
            <a  href="{{ url_for('start') }}">
            <button class="buttonlayout btn btn-outline-secondary">Back to List</button>
            </a>
        </div>
        <div class="col-3">
            <a href="{{ url_for('word_learning', index=0) }}">
                <button class="buttonlayout btn btn-outline-secondary">Start Learning</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}