{% extends "layout.html" %}

{% block content %}
<div class="startpage justify-content-center">
    <!-- <div class="cover_image">
        <img src="{{url_for('static', filename='images/morseBack.png')}}" class="img-fluid cover-img" />
    </div> -->
    <div class="row deletemargin text-layout">
        <a href="{{ url_for('menuchar') }}">
            <button class="spbuttonlayout btn btn-outline-secondary">Learn</button>
        </a>
    </div>
    <div class="row deletemargin text-layout">
        <a href="{{ url_for('quiz_landing') }}">
            <button class="spbuttonlayout btn btn-outline-secondary">Quiz</button>
        </a>
    </div>
    <div class="row deletemargin text-layout">
        <a href="{{ url_for('charmenu') }}">
            <button class="spbuttonlayout btn btn-outline-secondary">Translate Tool</button>
        </a>
    </div>
</div>
{% endblock %}