{% extends "layout.html" %}

{% block content %}
<div class="startpage">
    <div class="row justify-content-center deletemargin text-layout">
        <a href="{{ url_for('menuchar') }}">
            <button class="spbuttonlayout btn btn-outline-secondary">Learn</button>
        </a>
    </div>
    <div class="row justify-content-center deletemargin text-layout">
        <a href="{{ url_for('quiz_landing') }}">
            <button class="spbuttonlayout btn btn-outline-secondary">Quiz</button>
        </a>
    </div>
    <div class="row justify-content-center deletemargin text-layout">
        <a href="{{ url_for('charmenu') }}">
            <button class="spbuttonlayout btn btn-outline-secondary">Translate Tool</button>
        </a>
    </div>
</div>
{% endblock %}