{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<div class="wordlearning">
    <div class="words-menu-title">Learning Word Journey</div>
    <div class="container">
        <div class="row justify-content-center deletemargin">
            <div class="col text-layout">
                <div class="wordname">{{word}}</div>
                <div class="wordvideo">video</div>
            </div>
            <div class="col addoneline">
                {% for letter in word %}
                <div class="row justify-content-center letter-image-sound">
                    <div class="col text-layout">
                        <div>{{letter}}</div>
                        <div>
                            <ion-icon name="logo-google-playstore"></ion-icon>
                        </div>
                    </div>
                    <div class="col text-layout">
                        <div class="playcharsound" 
                        data-letter="{{ letter }}" 
                        data-audio-url="{{ url_for('static', filename='audios/Morse-' ~ letter ~ '.mp3') }}">
                            <ion-icon name="logo-google-playstore"></ion-icon>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col text-layout">
                <div class="wordname">{{word}} sound</div>
            </div>
        </div>
        <div class="row justify-content-between deletemargin">
            <div class="col-3">
                <a href="{{ url_for('menuchar') }}">
                <button class="buttonlayout btn btn-outline-secondary">Back to Menu</button>
                </a>
            </div>

            <div class="col-3">
                {% if index == 4 %}
                <a href="{{ url_for('finished_learning') }}">
                    <button class="buttonlayout btn btn-outline-secondary">Continue</button>
                </a>
                {% else %}
                <a href="{{ url_for('word_learning', index=index + 1) }}">
                    <button class="buttonlayout btn btn-outline-secondary">Next Word</button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}