{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'recordtime.js') }}"></script>

<div class="wordlearning">
    <div class="container">
        <div class="row justify-content-end deletemargin">
            <div class="col-3">
                <a href="{{ url_for('menuchar') }}">
                <button class="buttonlayout btn btn-outline-secondary">Back to Menu</button>
                </a>
            </div>
        </div>
        <div class="words-menu-title">Learning Word Journey</div>
        <div class="row justify-content-center deletemargin">
            <div class="col text-layout">
                <div class="wordname">{{word}}</div>
                <div id="js-data" class="playcharsound" 
                        data-word="{{ word  }}"
                        data-index="{{ index}}" 
                        data-audio-url="{{ url_for('static', filename='audios/Morse-' ~ word ~ '.mp3') }}">
                        <img src="{{url_for('static', filename='images/icon.png')}}" class="iconlayout" />
                    </div>
            </div>
            <div class="col addoneline">
                {% for letter in word %}
                <div class="row justify-content-center letter-image-sound">
                    <div class="col text-layout">
                        <div class="letter">{{letter}}</div>
                        <div class="signforletter">
                            {{morse_code_dict[letter]}}
                        </div>
                    </div>
                    <div class="col text-layout justify-content-center">
                        <div class="playcharsound" 
                        data-letter="{{ letter }}" 
                        data-audio-url="{{ url_for('static', filename='audios/Morse-' ~ letter ~ '.mp3') }}">
                        <img src="{{url_for('static', filename='images/icon.png')}}" class="iconlayout" />
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if word in videos %}
            <div class="col text-layout justify-content-center">
                <video class="videolayoutword" controls>
                    <source src="{{ url_for('static', filename = 'videos/' ~ word ~ '.mp4')}}" type="video/mp4">
                </video>
            </div>
            {% endif %}
        </div>
        <div class="row justify-content-between deletemargin">
            {% if index > 0 %}
            <div class="col-3">
                <a href="{{ url_for('word_learning', index=index - 1) }}">
                <button class="buttonlayout btn btn-outline-secondary">Last</button>
                </a>
            </div>
            {% endif %}
            <div class="col-3">
                {% if index == 12 %}
                <a href="{{ url_for('finished_learning') }}">
                    <button class="buttonlayout btn btn-outline-secondary">Finished</button>
                </a>
                {% elif index == 7 %}
                <a href="{{ url_for('levelnotice') }}">
                    <button class="buttonlayout btn btn-outline-secondary">Next Phase</button>
                </a>
                {% else %}
                <a href="{{ url_for('word_learning', index=index + 1) }}">
                    <button class="buttonlayout btn btn-outline-secondary">Next</button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}