/* Homepage */
.website-logo {
    width: 5%;
    max-width: 35px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.cover_image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 950px;
    min-width: 450px;
    opacity: 0.2;
}

.title_frame {
    position: fixed;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(1.4rem, 3.6vw, 5.3vh);
}

.subtitle_frame {
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 600px;
    font-size: clamp(0.6em, 2.1vw, 2.2vh);
    font-style: oblique;
}

.homeButton {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}


/* Learn Part */
/* Intro */
.introduction {
    color: #000;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}
.introtext {
    color: #000;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}
.sos {
    margin-left: 0px;
    margin-right: 0px;
}
.morse-code-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10rem;
    width: 10rem;
    background-color: aquamarine;
    margin: auto;
    text-align: center;

}
/* menu char words*/
.morsemenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.char-borad-title {
    color: #000;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2rem;
}
.momory-tree-link {
    display: inline-block;
    text-align: center;
    margin-bottom: 2rem;
}
.words-menu-title {
    color: #000;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.morsemenu-char-card {
    width: 5rem;
    height: 5rem;
    margin: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    color: #FFF;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.onerowchar {
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.wordbutton {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
/* Quiz Part */